<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Keep production builds offline even if an Android dependency declares
         transport permissions that Fahrzeugakte does not use. -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:node="remove" />
</manifest>
